In [11]:
L = ["A", 100, "B", 205, True, 6+8j]
L1 = [L[0], L[2]]
L2 = [L[1], L[3]]
L3 = [L[4]]
L4 = [L[5]]
print("L1 =",L1)
print("L2 =",L2)
print("L3 =",L3)
print("L4 =",L4)

L1 = ['A', 'B']
L2 = [100, 205]
L3 = [True]
L4 = [(6+8j)]

In [6]:
L = [100, 50, 193, 443, 256, 53, 1000]
L1 = [] 
L2 = [] 
for x in L:
    if x % 2 == 0:
        L1.append(x)  
    else:
        L2.append(x) 
print("List of even numbers (L1):", L1)
print("List of odd numbers (L2):", L2)

List of even numbers (L1): [100, 50, 256, 1000]
List of odd numbers (L2): [193, 443, 53]

In [2]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1])
print(my_list[1:3])
print(my_list[1:])
print(my_list[:3])
print(my_list[:])

20
[20, 30]
[20, 30, 40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]

In [3]:
my_list = [10, 20, 30, 40]
for item in my_list:
    print(3*item)

30
60
90
120

In [3]:
nested_list = [[1,2], [3,4], [5,6]]
nested_list

[[1, 2], [3, 4], [5, 6]]

In [5]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
#initial list of orders: [item_name, quantity]
orders=[["apple",10],["banana",5],["cherry"],["banana"]]
orders

[['apple', 10], ['banana', 5], ['cherry'], ['banana']]

In [8]:
#add a new order with append
new_order1 = ["date",12]
orders.append(new_order1)
orders

[['apple', 10], ['banana', 5], ['cherry'], ['banana'], ['date', 12]]

In [9]:
#add multiple orders at a time
new_orders = [["grape",9],["apple",20]]
orders.extend(new_orders)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry'],
 ['banana'],
 ['date', 12],
 ['grape', 9],
 ['apple', 20]]

In [10]:
#add(insert) an order at an index position 3
new_order2 = ["Dragon",10]
orders.insert(3,new_order2)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry'],
 ['Dragon', 10],
 ['banana'],
 ['date', 12],
 ['grape', 9],
 ['apple', 20]]

In [11]:
#remove a duplicate order
duplicate_Order = ["banana",5]
orders.pop(4)

['banana']

In [12]:
orders

[['apple', 10],
 ['banana', 5],
 ['cherry'],
 ['Dragon', 10],
 ['date', 12],
 ['grape', 9],
 ['apple', 20]]

In [6]:
#orders list
[['apple',10], ['banana',5], ['cherry',7], ['dragon',10], ['grape',9], ['apple',20]]

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['dragon', 10],
 ['grape', 9],
 ['apple', 20]]

In [14]:
#update the quanity of an item ("cherry" to 100)
orders = [['apple',10], ['banana',5], ['cherry',7], ['dragon',10], ['grape',9], ['apple',20]]
for each in orders:
    if each[0] == "cherry":
        each[1] = 100
        print(orders)

[['apple', 10], ['banana', 5], ['cherry', 100], ['dragon', 10], ['grape', 9], ['apple', 20]]

In [13]:
banana_orders=[]
for each in orders:
    if each[0] == "banana":
        banana_orders.append(each[1])
        print(banana_orders)
        print(sum(banana_orders))

[5]
5

In [15]:
apple_orders=[]
for each in orders:
    if each[0] == "apple":
        apple_orders.append(each[1])
        print(apple_orders)
        print(sum(apple_orders))

[10]
10
[10, 20]
30

In [16]:
Tup1 = (94,20,9,"A",9.81)
print(Tup1)
print(type(Tup1))

(94, 20, 9, 'A', 9.81)
<class 'tuple'>

In [22]:
Tup1 = (40,60,78,"Hi","Limmi")
Tup2 = (60,40,25,"Hello", "Deepkaa")
Tup3 = (80.20,65,"Had", "Lunch?")
Tup4 = (70,20,63,"Bye", "See you soon")
print(Tup1)
print(Tup2)
print(Tup3)
print(Tup4)

(40, 60, 78, 'Hi', 'Limmi')
(60, 40, 25, 'Hello', 'Deepkaa')
(80.2, 65, 'Had', 'Lunch?')
(70, 20, 63, 'Bye', 'See you soon')

In [20]:
Tup1

(40, 60, 78, 'Hi', 'Limmi')

In [23]:
Tup4

(70, 20, 63, 'Bye', 'See you soon')

In [37]:
Tup5 =([1,2,3],[4,5,6],'Hello',9.8)
print(Tup5)

([1, 2, 3], [4, 5, 6], 'Hello', 9.8)

In [38]:
Tup5[1][1] = 100
Tup5

([1, 2, 3], [4, 100, 6], 'Hello', 9.8)

In [2]:
#create dictionary using curly braces {}
d1 = {"a": 1, "b": 2, "c": 3}
print(d1)
print(type(d1))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [3]:
d2 = dict(A=10, B=15, C=30)
print(d2)

{'A': 10, 'B': 15, 'C': 30}

In [4]:
d3 = dict([("x",1), ("y",2), ("z",3)])
print(d3)

{'x': 1, 'y': 2, 'z': 3}

In [6]:
#print keys, value and key: value pairs
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [7]:
print(d1.keys())
print(d2.values())
print(d3.items())

dict_keys(['a', 'b', 'c'])
dict_values([10, 15, 30])
dict_items([('x', 1), ('y', 2), ('z', 3)])

In [23]:
scores = {"Virat":95, "Rohit":100, "Rahul":85, "Hardik":92, "Nithish":100}
scores

{'Virat': 95, 'Rohit': 100, 'Rahul': 85, 'Hardik': 92, 'Nithish': 100}

In [24]:
scores["Padkal"] = 93 
scores

{'Virat': 95,
 'Rohit': 100,
 'Rahul': 85,
 'Hardik': 92,
 'Nithish': 100,
 'Padkal': 93}

In [25]:
scores.update({"Hardik":92})
scores

{'Virat': 95,
 'Rohit': 100,
 'Rahul': 85,
 'Hardik': 92,
 'Nithish': 100,
 'Padkal': 93}

In [28]:
scores.update({"Jadeja":98, "Gill":70})
scores

{'Virat': 95,
 'Rohit': 100,
 'Rahul': 85,
 'Hardik': 92,
 'Nithish': 100,
 'Padkal': 93,
 'Jadeja': 98,
 'Gill': 70}

In [30]:
scores.setdefault("Aswin",80)
scores

{'Virat': 95,
 'Rohit': 100,
 'Rahul': 85,
 'Hardik': 92,
 'Nithish': 100,
 'Padkal': 93,
 'Jadeja': 98,
 'Gill': 70,
 'Aswin': 80}

In [31]:
scores.update({"Jadeja":94})
scores

{'Virat': 95,
 'Rohit': 100,
 'Rahul': 85,
 'Hardik': 92,
 'Nithish': 100,
 'Padkal': 93,
 'Jadeja': 94,
 'Gill': 70,
 'Aswin': 80}

In [39]:
scores.pop("Gill")
scores

{'Virat': 95,
 'Rohit': 100,
 'Rahul': 85,
 'Hardik': 92,
 'Nithish': 100,
 'Padkal': 93,
 'Jadeja': 94}

In [42]:
scores.get("Hardik")

92

In [43]:
#use of fromkeys() to create a new dict
list1 = ["A", "B", "C", "D"]
my_dict = dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [44]:
my_dict.update({"A":10, "B":20})
my_dict

{'A': 10, 'B': 20, 'C': None, 'D': None}

In [45]:
#use of fromkeys() to create a new dict
list1 = ["A", "B", "C", "D"]
my_dict = dict.fromkeys(list1,15)
my_dict

{'A': 15, 'B': 15, 'C': 15, 'D': 15}

In [46]:
my_dict.update({"A":10, "B":20})
my_dict

{'A': 10, 'B': 20, 'C': 15, 'D': 15}