In [2]:
#Create a set with curly braces
s1 = {1,8,9,0,10,9,0,1,9}
print(s1)
print(type(s1))

{0, 1, 8, 9, 10}
<class 'set'>

In [3]:
lst1 = [1, 8, 9, 0, 10, 20, 78, 8, 8, 8]

In [6]:
s2 = set(lst1)
s2

{0, 1, 8, 9, 10, 20, 78}

In [7]:
s2 = set(lst1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [10]:
##Union operation using | operator
s1 = {1,2,3,4}
s2 = {3,4,8,9}

In [9]:
s1 | s2

{1, 2, 3, 4, 6, 8, 9}

In [12]:
s1.union(s2)

{1, 2, 3, 4, 8, 9}

In [13]:
s1 & s2

{3, 4}

In [15]:
s1.intersection (s2)

{3, 4}

In [16]:
#difference of two sets
s1 = {2, 3, 5, 6, 7}
s2 = {5, 6, 7}

In [17]:
s1 - s2

{2, 3}

In [18]:
# Symmetric difference
s1 = {1,2,3,4,5}
s2 = [4,5,6,7,8]

In [20]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [21]:
str1 = "Welcome to aiml class"
print(str1)
str2 = 'We started with python'
print(str2)
str3 = '''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [23]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [27]:
str4 = '''He said, It's awesome!'''
str4

"He said, It's awesome!"

In [30]:
#Slicing in strings
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [31]:
str1[::-1]

'ssalc lmia ot emocleW'

In [32]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
#Use of split()
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [35]:
#Use of join() method 
reviews = ["The product is awesome", "Great Service"]
joined_string = ' '.join(reviews)
joined_string

'The product is awesome Great Service'

In [36]:
#Use of strip() method
str5 = "Hello, How are you?"
str5

'Hello, How are you?'

In [37]:
str5.strip()

'Hello, How are you?'

In [39]:
# Example dictionary for product sales analysis
sales_data = {
    "ProductID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "ProductName": ["Laptop", "Mouse", "Keyboard", "Monitor", "Chair", "Desk", "Webcam", "Headphones", "Printer", "Tablet"],
    "Category": ["Electronics", "Accessories", "Accessories", "Electronics", "Furniture", "Furniture", "Electronics", "Accessories", "Electronics", "Electronics"],
    "PriceRange": ["High", "Low", "Low", "Medium", "Medium", "Medium", "Low", "Low", "Medium", "High"],
    "StockAvailable": [15, 100, 75, 20, 10, 8, 50, 60, 25, 12],
}

In [40]:
for k,v in sales_data.items():
    print(k,set(v), end =',')
    print('/n')

ProductID {101, 102, 103, 104, 105, 106, 107, 108, 109, 110},/n
ProductName {'Laptop', 'Monitor', 'Printer', 'Webcam', 'Tablet', 'Keyboard', 'Chair', 'Desk', 'Headphones', 'Mouse'},/n
Category {'Accessories', 'Electronics', 'Furniture'},/n
PriceRange {'Low', 'High', 'Medium'},/n
StockAvailable {100, 8, 10, 75, 12, 15, 50, 20, 25, 60},/n

In [41]:
# Original reviews dictionary
reviews = {
    "Review1": "The product quality is excellent and delivery was prompt. The product functionality is versatile",
    "Review2": "Good service but the packaging could have been better. The customer service has to improve",
    "Review3": "The product works fine, but the customer support is not very helpful. I rate the product as excellent",
}

# Result dictionary to store analysis of reviews
review_analysis = {}

# Process each review
for key, review in reviews.items():
    # Split the review into words
    words = review.lower().replace('.', '').replace(',', '').split()
    # Create a sub-dictionary with word count and unique words
    review_analysis[key] = {
        "WordCount": len(words),
        "UniqueWords": list(set(words))
    }

review_analysis

{'Review1': {'WordCount': 14,
  'UniqueWords': ['product',
   'delivery',
   'versatile',
   'and',
   'excellent',
   'the',
   'quality',
   'functionality',
   'is',
   'prompt',
   'was']},
 'Review2': {'WordCount': 15,
  'UniqueWords': ['to',
   'but',
   'the',
   'could',
   'been',
   'packaging',
   'have',
   'better',
   'has',
   'improve',
   'good',
   'customer',
   'service']},
 'Review3': {'WordCount': 18,
  'UniqueWords': ['product',
   'fine',
   'not',
   'works',
   'support',
   'helpful',
   'but',
   'i',
   'the',
   'rate',
   'excellent',
   'very',
   'is',
   'as',
   'customer']}}

In [43]:
d1 = {"Charith": 90, "Sathwik": 80}

In [44]:
for v in d1.keys():
    print(v)

Charith
Sathwik

In [45]:
for v in d1.values():
    print(v)

90
80

In [46]:
for v in d1.items():
    print(v)
    #access both

('Charith', 90)
('Sathwik', 80)

In [47]:
d1['Limmi'] = 92
d1

{'Charith': 90, 'Sathwik': 80, 'Limmi': 92}